extends layout

block content
  h1= title
  a(href="/") Back to messages
  p Form

  form(id="" action="/new" method="POST")
    input(id='content', type='text', name='content' placeholder='Your message')
    input(id='author', type='text', name='author' placeholder='Your name')
    input(type="submit" value="Send Message")

